$dark: #2F2E2E;
$main-text: #2F2E2E;

$dark-main-text: #ffffff;
$dark-popup-background: #1f1f1f;
$dark-popup-secondary-background: #383a3d;


$secondary-background: #383a3d;

$wrapper-spacing: 0rem;
$wrapper-radius: 0rem;
$blocks-radius: 0.5rem;
