
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: red;
}

.f1 {font-size:  calc(13px + 2 * (100vw - 320px) / 1600);}
.f2 {font-size:  calc(14px + 2 * (100vw - 320px) / 1600);}
.f-1 {font-size: calc(11px + 2 * (100vw - 320px) / 1600);}
.f-2 {font-size: calc(10px + 2 * (100vw - 320px) / 1600);}
.f-3 {font-size: calc(9px + 2 * (100vw - 320px) / 1600);}
.f-4 {font-size: calc(8px + 2 * (100vw - 320px) / 1600);}

.thin-2 {font-weight: 100;}
.thin-1 {font-weight: 200;}

.bold-1 {font-weight: 400;}
.bold-2 {font-weight: 500;}
.bold-3 {font-weight: 600;}
.bold-4 {font-weight: 700;}
.bold-5 {font-weight: 800;}
.bold-6 {font-weight: 900;}

h1 {
    font-size: calc(26px + 30 * (100vw - 320px) / 1600);
    font-weight: 900;
    text-transform: uppercase;
    // line-height: 110px;
    letter-spacing: 1px;
}

h3 {
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 1px;
}